@import 'layout.css';
@import 'elements.css';
@import 'tables.css';
	
/*#####################################################*/

.orange { color: #FF9900; }
.gray { color: #838383; }
.error { color: #FF0000; }
.common { color: #FFFFFF; }
.extra { color: #FF9900; }
.ultra { color: #585858; }

.center { margin: auto; text-align:center; display: block; }

.chlazeni { text-align: right; padding-right: 8px; }

.komentar td { vertical-align: top; color: #999; }
.komentar strong { color: #F2F2F2; }
.komentar strong.extra { color: #FF9900; }

.help_pod { color: #D33203; font-weight: bold; }
.help_text { padding-left: 9px; }

.editIndex { border: 1px dashed #AAAAAA; border-color: #AAAAAA; background-color: #050505; padding-top: 8px; padding-bottom: 10px; padding-left: 4px; padding-right: 4px; }
.editIndex:hover { border: 1px dotted #AAAAAA; background-color: #050505; color: #C3C3C3; }

.vlajka_barvy { display: inline; width: 120px; height: 160px; border-width: 0px !important; cursor: pointer }

.oddelovac { width: 400px; margin: auto; border-top: 1px solid #444; margin-top: 5px; margin-bottom: 5px; }

.forum_left { float: left; width: 215px; padding-left: 0px; margin-left: 0px; }
.forum_right { float: right; width: 225px; padding-left: 0px; margin-left: 0px; }
.forum_barva { display: inline-block; border: 1px solid #343434; cursor: pointer; width: 18px; height: 18px }
.forum_barva:hover { border-color: #838383 }
.forum_barva_inner { display: inline-block; width: 10px; height: 10px; cursor: pointer; margin: 3px; border: 1px solid #000 }

.obrazky td { text-align: center; border: 1px solid #444; background-color: #000000; }
.obrazky a img { border: none; width: 130px; height: 140px; display: block; margin-bottom: 6px; }